In [37]:
# Dependencies and Setup
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [38]:
#Read mortality rates csv
mort_rate = "IMR_mortality_rate_2019.csv"

mort_rates_df = pd.read_csv(mort_rate)

mort_rates_df.head(10)

,ISO Code,Country Name,Uncertainty bounds*,1950.5,1951.5,1952.5,1953.5,1954.5,1955.5,1956.5,...,2009.5,2010.5,2011.5,2012.5,2013.5,2014.5,2015.5,2016.5,2017.5,2018.5
0,AFG,Afghanistan,Lower,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,62.251189,59.643022,57.067529,54.477731,51.861995,49.235660,46.609963,44.262986,41.968933,39.795215
1,AFG,Afghanistan,Median,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,66.804305,64.311849,61.870666,59.535698,57.298728,55.143999,53.127556,51.240531,49.477169,47.864949
2,AFG,Afghanistan,Upper,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,71.809044,69.371441,67.155333,65.068921,63.130400,61.367525,59.789817,58.387980,57.188713,56.309451
3,ALB,Albania,Lower,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,11.903032,11.149902,10.431073,9.745050,9.134677,8.611101,8.211288,7.897242,7.622096,7.333115
4,ALB,Albania,Median,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,12.850900,11.879975,10.974832,10.169440,9.484409,8.941255,8.536219,8.244223,8.023652,7.845715
5,ALB,Albania,Upper,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,13.843129,12.618475,11.531804,10.611914,9.856405,9.280379,8.873632,8.604798,8.449997,8.391830
6,DZA,Algeria,Lower,NaN,NaN,NaN,NaN,119.349558,122.714271,125.548805,...,23.885709,23.101330,22.483013,22.022032,21.621604,21.245793,20.850650,20.401367,19.837402,19.097704
7,DZA,Algeria,Median,NaN,NaN,NaN,NaN,146.792175,146.505027,146.563090,...,24.341251,23.540407,22.910709,22.444994,22.083585,21.751562,21.412810,21.036402,20.616541,20.149825
8,DZA,Algeria,Upper,NaN,NaN,NaN,NaN,182.628211,176.314362,171.797320,...,24.809680,23.991767,23.356760,22.885251,22.561547,22.260747,21.972648,21.681627,21.422426,21.284039
9,AND,Andorra,Lower,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.153906,2.950251,2.747041,2.533944,2.324535,2.142452,1.964804,1.831741,1.714827,1.607499

In [39]:
#check
mort_rates_df['Uncertainty bounds*'] == "Median"

0      False
1       True
2      False
3      False
4       True
       ...
585    False
586    False
587    False
588    False
589    False
Name: Uncertainty bounds*, Length: 590, dtype: bool

In [40]:
#only keep the median units
mort_rates_df=mort_rates_df.loc[mort_rates_df['Uncertainty bounds*'] == "Median"]

mort_rates_df.head()

,ISO Code,Country Name,Uncertainty bounds*,1950.5,1951.5,1952.5,1953.5,1954.5,1955.5,1956.5,...,2009.5,2010.5,2011.5,2012.5,2013.5,2014.5,2015.5,2016.5,2017.5,2018.5
1,AFG,Afghanistan,Median,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,66.804305,64.311849,61.870666,59.535698,57.298728,55.143999,53.127556,51.240531,49.477169,47.864949
4,ALB,Albania,Median,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,12.850900,11.879975,10.974832,10.169440,9.484409,8.941255,8.536219,8.244223,8.023652,7.845715
7,DZA,Algeria,Median,NaN,NaN,NaN,NaN,146.792175,146.505027,146.56309,...,24.341251,23.540407,22.910709,22.444994,22.083585,21.751562,21.412810,21.036402,20.616541,20.149825
10,AND,Andorra,Median,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.116272,3.920406,3.739405,3.565224,3.397920,3.237721,3.085384,2.964224,2.846967,2.741686
13,AGO,Angola,Median,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,80.726539,75.992943,71.531253,67.282521,63.593080,60.509258,57.774549,55.450001,53.433457,51.585040

In [42]:
#keep columns from 2000 on in order to match to education data
mort_rates_df.drop(['1950.5', '1951.5','1952.5'], axis=1)

mort_rates_df=mort_rates_df[['ISO Code', 'Country Name', '2000.5','2001.5','2002.5','2003.5','2004.5','2005.5','2006.5','2007.5','2008.5','2009.5','2010.5','2011.5','2012.5','2013.5','2014.5','2015.5','2016.5','2017.5','2018.5']]

In [43]:
#getting the ISO codes
mort_rates_df['ISO Code'].unique()

array(['AFG', 'ALB', 'DZA', 'AND', 'AGO', 'ATG', 'ARG', 'ARM', 'AUS',
       'AUT', 'AZE', 'BHS', 'BHR', 'BGD', 'BRB', 'BLR', 'BEL', 'BLZ',
       'BEN', 'BTN', 'BOL', 'BIH', 'BWA', 'BRA', 'BRN', 'BGR', 'BFA',
       'BDI', 'KHM', 'CMR', 'CAN', 'CPV', 'CAF', 'TCD', 'CHL', 'CHN',
       'COL', 'COM', 'COG', 'COD', 'COK', 'CRI', 'CIV', 'HRV', 'CUB',
       'CYP', 'CZE', 'DNK', 'DJI', 'DMA', 'DOM', 'ECU', 'EGY', 'SLV',
       'GNQ', 'ERI', 'EST', 'ETH', 'FSM', 'FJI', 'FIN', 'FRA', 'GAB',
       'GMB', 'GEO', 'DEU', 'GHA', 'GRC', 'GRD', 'GTM', 'GIN', 'GNB',
       'GUY', 'HTI', 'HND', 'HUN', 'ISL', 'IND', 'IDN', 'IRN', 'IRQ',
       'IRL', 'ISR', 'ITA', 'JAM', 'JPN', 'JOR', 'KAZ', 'KEN', 'KIR',
       'PRK', 'KOR', 'KWT', 'KGZ', 'LAO', 'LVA', 'LBN', 'LSO', 'LBR',
       'LBY', 'LTU', 'LUX', 'MKD', 'MDG', 'MWI', 'MYS', 'MDV', 'MLI',
       'MLT', 'MHL', 'MRT', 'MUS', 'MEX', 'MDA', 'MCO', 'MNG', 'MNE',
       'MAR', 'MOZ', 'MMR', 'NAM', 'NRU', 'NPL', 'NLD', 'NZL', 'NIC',
       'NER', 'NGA', 'NIU', 'NOR', 'OMN', 'PAK', 'PLW', 'PAN', 'PNG',
       'PRY', 'PER', 'PHL', 'POL', 'PRT', 'QAT', 'ROU', 'RUS', 'RWA',
       'KNA', 'LCA', 'WSM', 'SMR', 'STP', 'SAU', 'SEN', 'SRB', 'SYC',
       'SLE', 'SGP', 'SVK', 'SVN', 'SLB', 'SOM', 'ZAF', 'SSD', 'ESP',
       'LKA', 'VCT', 'PSE', 'SDN', 'SUR', 'SWZ', 'SWE', 'CHE', 'SYR',
       'TJK', 'TZA', 'THA', 'TLS', 'TGO', 'TON', 'TTO', 'TUN', 'TUR',
       'TKM', 'TUV', 'UGA', 'UKR', 'ARE', 'GBR', 'USA', 'URY', 'UZB',
       'VUT', 'VEN', 'VNM', 'YEM', 'ZMB', 'ZWE'], dtype=object)

In [44]:
#number of countries
mort_rates_df['ISO Code'].count()

195

In [45]:
mort_final=mort_rates_df.set_index("ISO Code")

mort_final

,Country Name,2000.5,2001.5,2002.5,2003.5,2004.5,2005.5,2006.5,2007.5,2008.5,2009.5,2010.5,2011.5,2012.5,2013.5,2014.5,2015.5,2016.5,2017.5,2018.5
ISO Code,,,,,,,,,,,,,,,,,,,,
AFG,Afghanistan,90.586340,88.047820,85.435875,82.785824,80.104588,77.401708,74.710032,72.026239,69.377499,66.804305,64.311849,61.870666,59.535698,57.298728,55.143999,53.127556,51.240531,49.477169,47.864949
ALB,Albania,23.022107,21.786402,20.583332,19.402335,18.251251,17.123476,16.001730,14.907665,13.858390,12.850900,11.879975,10.974832,10.169440,9.484409,8.941255,8.536219,8.244223,8.023652,7.845715
DZA,Algeria,33.927190,33.289533,32.389612,31.289346,30.069184,28.787380,27.539391,26.366973,25.292900,24.341251,23.540407,22.910709,22.444994,22.083585,21.751562,21.412810,21.036402,20.616541,20.149825
AND,Andorra,5.931643,5.716561,5.515235,5.314392,5.118791,4.920199,4.714491,4.518546,4.320287,4.116272,3.920406,3.739405,3.565224,3.397920,3.237721,3.085384,2.964224,2.846967,2.741686
AGO,Angola,122.196093,118.936810,115.072812,110.843762,106.226921,101.271366,96.163012,90.996351,85.821370,80.726539,75.992943,71.531253,67.282521,63.593080,60.509258,57.774549,55.450001,53.433457,51.585040
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
VEN,Venezuela (Bolivarian Republic of),18.406228,17.840370,17.369966,16.892150,16.365097,15.832616,15.357132,14.977810,14.728449,14.616855,14.613887,14.685250,14.783443,14.863228,14.897919,16.806500,21.426527,21.426527,21.426527
VNM,Viet Nam,23.537083,22.650304,21.826264,21.105833,20.502135,19.991865,19.558727,19.227106,18.935319,18.672932,18.452925,18.239001,18.038310,17.845544,17.646099,17.444029,17.182263,16.862242,16.497314
YEM,Yemen,68.727601,65.785740,62.806627,59.911924,57.129163,54.461147,51.877634,49.379344,46.976624,44.958454,43.600166,43.021951,42.912556,42.911544,42.911544,42.911544,42.911544,42.911544,42.911544
ZMB,Zambia,95.097978,90.066371,84.045263,77.673480,71.139136,65.524458,61.614638,59.333356,56.714332,54.830587,52.812322,51.173294,49.604879,47.828528,45.886846,44.471224,43.067655,41.498155,40.446619
ZWE,Zimbabwe,58.373546,57.899676,57.522965,57.103102,57.526222,57.653144,58.609504,58.653783,57.537543,56.063502,53.129857,50.348422,45.728456,42.798295,40.367565,38.540875,36.282607,35.441110,33.900401