In [33]:
#test
# Dependencies and Setup
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [34]:
#Read mortality rates csv
mort_rate = "data_files/IMR_mortality_rate_2019.csv"

mort_rates_df = pd.read_csv(mort_rate)

mort_rates_df.head(10)

,ISO Code,Country Name,Uncertainty bounds*,1950.5,1951.5,1952.5,1953.5,1954.5,1955.5,1956.5,...,2009.5,2010.5,2011.5,2012.5,2013.5,2014.5,2015.5,2016.5,2017.5,2018.5
0,AFG,Afghanistan,Lower,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,62.251189,59.643022,57.067529,54.477731,51.861995,49.235660,46.609963,44.262986,41.968933,39.795215
1,AFG,Afghanistan,Median,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,66.804305,64.311849,61.870666,59.535698,57.298728,55.143999,53.127556,51.240531,49.477169,47.864949
2,AFG,Afghanistan,Upper,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,71.809044,69.371441,67.155333,65.068921,63.130400,61.367525,59.789817,58.387980,57.188713,56.309451
3,ALB,Albania,Lower,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,11.903032,11.149902,10.431073,9.745050,9.134677,8.611101,8.211288,7.897242,7.622096,7.333115
4,ALB,Albania,Median,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,12.850900,11.879975,10.974832,10.169440,9.484409,8.941255,8.536219,8.244223,8.023652,7.845715
5,ALB,Albania,Upper,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,13.843129,12.618475,11.531804,10.611914,9.856405,9.280379,8.873632,8.604798,8.449997,8.391830
6,DZA,Algeria,Lower,NaN,NaN,NaN,NaN,119.349558,122.714271,125.548805,...,23.885709,23.101330,22.483013,22.022032,21.621604,21.245793,20.850650,20.401367,19.837402,19.097704
7,DZA,Algeria,Median,NaN,NaN,NaN,NaN,146.792175,146.505027,146.563090,...,24.341251,23.540407,22.910709,22.444994,22.083585,21.751562,21.412810,21.036402,20.616541,20.149825
8,DZA,Algeria,Upper,NaN,NaN,NaN,NaN,182.628211,176.314362,171.797320,...,24.809680,23.991767,23.356760,22.885251,22.561547,22.260747,21.972648,21.681627,21.422426,21.284039
9,AND,Andorra,Lower,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.153906,2.950251,2.747041,2.533944,2.324535,2.142452,1.964804,1.831741,1.714827,1.607499

In [35]:
number_of_countries = len((mort_rates_df["Country Name"]).unique())
iso_code = len((mort_rates_df["ISO Code"]).unique())
#number_of_purchases = (purchase_data["Purchase ID"]).count()
#total_revenue = (purchase_data["Price"]).sum()

# Create data frame with obtained values
summary_dataframe = pd.DataFrame({"Number of Countries":[number_of_countries],
                           "ISO Codes":[iso_code]})

summary_dataframe.head()

   Number of Countries  ISO Codes
0                  199        198

In [36]:
#Read education data csv
edu_data = "data_files/Education_Data.csv"

edu_data_df = pd.read_csv(edu_data)

edu_data_df.head(10)

  LOCATION INDICATOR SUBJECT   MEASURE FREQUENCY  TIME      Value  Flag Codes
0      AUS  EDUADULT  UPPSRY  PC_25_64         A  2000  31.311945         NaN
1      AUS  EDUADULT  UPPSRY  PC_25_64         A  2001  29.946537         NaN
2      AUS  EDUADULT  UPPSRY  PC_25_64         A  2002  30.189898         NaN
3      AUS  EDUADULT  UPPSRY  PC_25_64         A  2003  31.166031         NaN
4      AUS  EDUADULT  UPPSRY  PC_25_64         A  2004  33.297886         NaN
5      AUS  EDUADULT  UPPSRY  PC_25_64         A  2005  33.340881         NaN
6      AUS  EDUADULT  UPPSRY  PC_25_64         A  2006  33.687943         NaN
7      AUS  EDUADULT  UPPSRY  PC_25_64         A  2007  34.446560         NaN
8      AUS  EDUADULT  UPPSRY  PC_25_64         A  2008  33.785992         NaN
9      AUS  EDUADULT  UPPSRY  PC_25_64         A  2009  34.146122         NaN

In [37]:
num_of_countries = len((edu_data_df["LOCATION"]).unique())
indicator = len((edu_data_df["INDICATOR"]).unique())
#number_of_purchases = (purchase_data["Purchase ID"]).count()
#total_revenue = (purchase_data["Price"]).sum()

# Create data frame with obtained values
summary_df = pd.DataFrame({"Number of Countries":[num_of_countries],
                           "Indicators":[indicator]})

summary_df.head()

   Number of Countries  Indicators
0                   47           1

In [40]:
countries = edu_data_df["LOCATION"]
time = edu_data_df["TIME"]
value = edu_data_df["Value"]
final = pd.DataFrame({"ISO Code":countries,
                      "Time":time,
                       "Value":value})
final.head(20)

   ISO Code  Time      Value
0       AUS  2000  31.311945
1       AUS  2001  29.946537
2       AUS  2002  30.189898
3       AUS  2003  31.166031
4       AUS  2004  33.297886
5       AUS  2005  33.340881
6       AUS  2006  33.687943
7       AUS  2007  34.446560
8       AUS  2008  33.785992
9       AUS  2009  34.146122
10      AUS  2010  35.602947
11      AUS  2011  35.735386
12      AUS  2012  35.154247
13      AUS  2013  36.175640
14      AUS  2014  35.202309
15      AUS  2015  36.130348
16      AUS  2016  36.188747
17      AUS  2017  35.631668
18      AUS  2018  36.163879
19      AUT  2004  51.550304

In [41]:
final.shape[0]

711

In [42]:
unique_time= final["Time"].unique()
unique_time

array([2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010,
       2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018])

In [43]:
final_df=final.pivot(index="ISO Code", columns= "Time")["Value"]
final_df

Time,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
ISO Code,,,,,,,,,,,,,,,,,,,
ARG,NaN,NaN,NaN,NaN,32.082676,32.370968,33.696232,NaN,35.221363,35.687149,NaN,37.009579,38.027462,38.308643,38.217319,NaN,NaN,40.064892,27.977314
AUS,31.311945,29.946537,30.189898,31.166031,33.297886,33.340881,33.687943,34.446560,33.785992,34.146122,35.602947,35.735386,35.154247,36.175640,35.202309,36.130348,36.188747,35.631668,36.163879
AUT,NaN,NaN,NaN,NaN,51.550304,52.305584,54.771961,54.844437,54.688057,54.749195,54.608784,54.407017,54.176529,53.233154,53.951103,54.097969,53.144444,52.568035,52.586048
BEL,31.438227,31.836805,32.668564,33.016048,33.890900,35.051159,35.187229,35.858559,37.266140,37.175842,35.510010,36.653725,36.327080,37.223022,36.695625,37.819675,37.590210,36.540157,37.588238
BRA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.184517,28.042675,29.809849,NaN,31.655708,32.010372,32.664654,33.041641,34.077896,33.589527,34.089798,NaN
CAN,40.561737,40.106728,39.804909,39.608646,39.764530,39.206749,38.661331,38.323586,38.289677,38.241207,37.951420,37.598511,36.659264,36.570770,36.373581,35.228447,34.343746,34.412544,33.733723
CHE,59.702358,59.459370,59.554180,57.723049,56.931870,56.482964,55.548450,54.629665,53.155655,51.896645,51.151737,50.823112,50.373901,49.002911,48.795288,47.512451,46.200405,45.213757,44.656780
CHL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39.385891,NaN,39.865879,NaN,40.324417,NaN,42.391296,NaN,42.279499,NaN
CHN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.780653,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
COL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.610394,28.848007,30.229284,31.286890,31.794924
CRI,13.916020,13.879825,14.401133,14.901548,14.271029,14.284099,14.696331,15.271419,15.747368,15.489995,15.871445,15.821122,15.865781,17.031296,17.006420,16.231556,16.937899,16.521597,16.628136
CZE,74.978859,75.076736,75.985672,74.413628,76.730721,76.867134,76.757668,76.802109,76.404411,75.858459,75.177650,74.089088,73.172829,72.360344,71.679962,70.972054,70.455254,69.866150,69.598511
DEU,58.227329,59.386391,59.560257,59.395287,58.968838,58.554329,59.289337,60.115101,59.931107,59.094433,59.201168,58.688049,58.179337,57.847530,59.845531,59.153015,58.184765,57.938240,57.610046
DNK,54.003513,52.254360,51.480877,48.705925,48.373722,47.472664,46.920448,43.374550,42.382504,42.305748,42.362736,43.194832,43.113571,42.837570,43.752758,43.275791,42.576591,42.097141,42.873901
ESP,15.889219,16.623016,17.318115,18.033455,18.615295,20.237658,20.878954,21.364632,21.581760,21.635395,21.856297,22.124760,22.005894,21.719563,21.938850,22.352846,22.580437,22.723196,22.863016
EST,56.579468,56.751579,57.425953,57.995193,57.544670,55.633266,55.163223,55.694317,54.130379,52.606895,53.712353,52.120499,52.317989,53.173813,50.605042,50.527138,50.138710,49.018936,48.058849
FIN,40.548050,NaN,NaN,42.862675,43.440392,44.158085,44.494862,44.152626,44.489677,44.704552,44.836487,44.406101,45.135994,45.345337,44.730209,44.410244,44.312881,43.799568,43.885674
FRA,40.656166,40.846359,40.792923,41.304752,41.428524,41.384293,41.245548,41.821098,42.364265,41.666153,41.759781,41.847446,41.678410,42.740952,43.779457,43.447037,43.525806,43.171093,42.462482
G20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36.839818,36.809792,NaN,NaN,NaN,NaN,NaN,NaN,NaN
GBR,36.928307,36.721958,37.412674,37.080341,36.829922,37.122650,36.709263,36.656673,36.424484,36.758167,36.875210,37.420158,37.107475,37.258495,36.947582,35.419685,34.980217,35.424564,33.510891
GRC,31.615318,32.161682,33.047863,34.247620,35.362972,36.241695,36.818130,37.184578,37.771439,37.838215,37.991489,38.442711,39.063248,39.771641,40.160664,41.162418,41.418648,41.681881,41.629566
HUN,55.176250,56.029442,57.210911,58.656200,58.601334,59.306282,60.374454,61.157066,60.505455,60.712025,61.170437,60.643833,60.073402,59.988312,59.738323,58.974400,59.648968,59.972206,59.760651
IDN,NaN,NaN,NaN,NaN,14.353661,18.553963,19.842274,19.355505,14.148355,21.424606,22.332325,22.945271,22.746614,23.344013,23.901196,24.866453,25.686342,26.039787,NaN
IND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.106640,NaN,NaN,NaN,NaN,NaN,NaN,NaN
IRL,35.680077,31.687897,35.181232,35.393551,35.018871,35.459042,35.248314,35.336098,35.550751,35.345600,35.190754,35.472363,34.935005,35.255356,37.845661,37.011307,NaN,36.346481,36.239433
ISL,NaN,NaN,NaN,37.875629,38.412827,38.702599,38.268692,38.375900,37.467621,37.086830,38.085266,37.030106,35.774364,36.087257,36.168541,35.854942,37.523037,34.753498,34.123341
ISR,NaN,NaN,38.244751,39.019939,NaN,35.887051,NaN,36.828835,37.252399,36.896465,36.504307,36.616207,38.106457,37.567196,36.822159,36.710636,36.873440,36.458225,NaN
ITA,32.736511,33.225887,33.994335,37.953461,37.006237,37.861622,38.416656,38.721588,38.955219,39.790382,40.371780,41.093086,41.528671,41.866974,42.396198,42.344765,42.419556,42.245842,42.423771
KOR,44.395958,44.692459,44.844082,43.795536,43.979282,44.020844,43.834850,43.387959,42.698547,42.158466,41.896099,41.082951,40.765228,40.647007,40.498386,40.413925,40.128090,39.867115,39.179844
LTU,42.427689,NaN,NaN,NaN,NaN,60.953571,61.569172,59.999691,60.142979,60.360397,59.458786,59.377556,59.270020,58.244312,54.507820,52.631680,52.783016,52.554096,51.322941
LUX,42.635101,NaN,NaN,NaN,NaN,39.304268,41.527729,39.222908,40.287777,42.548435,42.201790,40.222870,39.192108,39.813763,36.041000,34.813503,35.963139,36.372005,33.348320
LVA,65.022331,61.396080,63.225403,65.045273,64.536186,64.126892,63.209473,62.453861,61.036030,60.930115,61.657791,60.244511,59.875610,58.342381,56.431065,56.190098,55.320442,53.725826,53.692394
MEX,14.454871,14.553352,14.618934,14.321067,14.865237,15.431935,15.764752,16.026201,16.235542,16.982433,17.431528,18.127449,18.276108,18.588940,19.096510,19.384390,19.816181,20.242617,21.166498
NLD,41.481255,41.902199,42.813576,41.678982,41.368679,41.703503,42.175610,42.379169,41.124588,40.610600,40.584415,40.242668,39.025169,41.925877,41.481617,41.068810,41.067532,41.213829,40.679310
NOR,NaN,NaN,NaN,NaN,NaN,44.520832,45.969803,44.727242,44.717346,44.025360,43.343231,43.842903,43.492111,42.638336,40.189404,39.665131,39.222229,38.762424,38.901794
NZL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38.446278,40.681847,40.301437,41.151012,41.164528
OAVG,43.839900,43.301576,44.299823,44.122825,44.725512,45.079653,45.595423,45.114366,44.958170,44.740457,44.849754,44.518461,44.450400,44.321853,43.644985,43.364709,43.064903,42.489948,42.436605
POL,68.518517,68.692192,68.648476,68.449577,68.216873,68.185944,67.920158,67.613113,67.583122,66.821266,66.046318,65.629021,65.084984,64.378479,63.521564,63.030708,62.609581,62.191849,61.528210
PRT,10.531308,11.002051,11.274323,11.862341,12.639626,13.606074,14.129419,13.763488,13.947564,15.237852,16.472258,17.770487,19.095991,20.740372,21.563595,22.265430,23.061470,23.913849,24.825838
RUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42.433334,42.222771,42.503376,42.025513,41.798943,41.232349,40.919132,38.542645,NaN
SAU,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31.803980,NaN,32.883152,NaN,NaN
SVK,73.433083,74.177261,74.950569,74.914680,74.221123,73.865288,74.242401,74.720940,75.170403,75.182259,73.637230,72.644165,72.735786,71.922043,70.459274,70.135376,69.769516,68.205521,66.995461
SVN,59.096954,NaN,61.760578,60.395054,60.628014,60.124180,60.176327,59.590744,59.405548,59.970695,59.593433,59.385700,58.533745,57.572769,57.124428,56.613033,56.608772,53.379494,55.682087
SWE,47.428860,49.037354,49.010967,48.780231,48.413593,53.946407,53.555191,53.259563,53.014870,52.678806,52.403698,51.860733,51.803307,51.135899,42.854530,42.189362,41.588329,41.059723,39.944221
TUR,14.949884,15.108155,15.864458,16.759451,17.546646,17.843439,18.225998,18.300762,18.267813,18.344694,18.087578,18.114084,18.573956,18.924805,18.939352,18.972311,19.150930,19.278526,19.456722
USA,50.947960,49.863556,49.210739,49.108307,48.854782,48.719654,48.310200,47.640446,47.590492,47.429943,47.307102,46.809719,46.255409,45.717762,45.345833,44.912739,44.480896,44.288704,43.392693
ZAF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,56.683624,58.795631,59.726521,60.699654,62.216976,62.942223,64.349213,63.748463,64.678696,65.831169,66.974648